.react-text-highlighter-container {
  position: relative;
}
.react-text-highlighter-iframe {
  position: absolute;
}
.react-text-highlighter-add-hightlight-button {
  width: 100px;
  height: 10px;
  background-color: red;
}
