body {
  display: flex;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 1000px;
  border: 1px solid black;
  height: 100vh;
  overflow: scroll;
}

.App p {
  z-index: 2;
}
